
@{
    ViewData["Title"] = "CreateOrder";
}

<h1 align="center">AddOrder</h1>
<div class="container-fluid">
    <div class="form-group">
        <lable>Customer Name</lable>
        <select class="form-control" id="customerId" asp-items="@(new SelectList(ViewBag.listOfCustomers,"Id","Fname"))">
            <option>Select Customer Name</option>
        </select>
        <label>Order Date   :</label>
        <input type="date" disabled id="orderDate" class="form-control" />
    </div><br />
    <div class="form-group">
        <table class="table ">
            <tr class="thead-dark">
                <th>Product Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            <tr>
                <td><select onchange="LoadProduct(this.value,null) " id="productId" asp-items="@(new SelectList(ViewBag.listOfProducts,"Id","Name"))" class="form-control"></select></td>
                <td><input type="text" id="description" class="form-control" disabled /></td>
                <td><input type="text" id="unitPrice" class="form-control" disabled /></td>
                <td><input type="number" id="qty" class="form-control" min="1" /></td>
                <td><button onclick="AddItems()" class="btn btn-danger">Add To Order</button></td>
            </tr>
        </table>
    </div>
</div>
<br />
<br />
<h2 align="center">Ordered Items</h2>
<br />
<div class="container-fluid">
    <div class="form-group">
        <table id="orderTable" class="table table-dark">
            <tr class="thead-dark">
                <th>Product Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td><button class="btn btn-danger" onclick="confirmOrder()">Confirm Order</button>
            </tr>
        </table>
    </div>
</div>

<script src="~/JavaScript/GetDate.js"></script>
<script src="~/JavaScript/LoadProduct.js"></script>
<script src="~/JavaScript/Order.js"></script>