@model ShoppingCard.Web.Models.OrderViewModel
@{
    ViewData["Title"] = "GetOrdersById";
}

<h1 align="center">Order</h1>
<div class="container-fluid">
    <div class="form-group">
        <table class="table table-dark">
            <tr class="thead-dark">
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Customer Id</th>
            </tr>
           
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Date</td>
                <td>@Model.CustomerId</td>
                <td><a class="btn btn-danger">Delete Order</a></td>                
            </tr>
            
        </table>
    </div>
</div>

